// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import "open-iconic-bootstrap";

/* universal */
body {
  font-family: Hiragino Sans GB, "Hiragino Sans GB", Helvetica, "Microsoft YaHei", Arial,sans-serif;
}

/* header */

.navbar-static-top {
  border-color: #e7e7e7;
  background-color: #fff;
  box-shadow: 0px 1px 11px 2px rgba(42, 42, 42, 0.1);
  border-top: 4px solid #00b5ad;
  margin-top: 0px;
}

/* Sticky footer styles */
html {
  position: relative;
  min-height: 100% ;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100% ;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #000;

  .container {
    padding-right: 15px;
    padding-left: 15px;

    p {
      margin: 19px 0;
      color: #c1c1c1;

      a {
        color: inherit;
      }
    }
  }
}

/* User register page */
.register-page {
  img.captcha {
    margin-bottom: 0px;
    margin-top: 10px;
    cursor: pointer;
  }
}

/* Topic Index Page */
.topics-index-page, .categories-show-page {
  .topic-list {
    .nav > li > a {
      position: relative;
      display: block;
      padding: 5px 14px;
    }
    a {
      color: #444444;
      text-decoration: none;
    }
    .meta {
      color: #b3b3b3;
      a {
        color: #b3b3b3;
        text-decoration: none;
      }
    }
    .badge {
      background-color: #d8d8d8;
    }
    hr {
      margin-top: 12px;
      margin-bottom: 12px;
      border: 0;
      border-top: 1px solid #dcebf5;
    }
  }
}

/* User profile page */
.users-show-page {
  .user-info {
    .thumbnail {
      margin-bottom: 0px;
    }
  }

  .nav-tabs {
    margin-bottom: 20px;

    >li.active > a {
      background-color: #fff;
    }
  }

  .list-group {
    .list-group-item {
      border: none;
      margin-bottom: 0px;
      border-bottom: 1px solid #efefef;

      .meta {
        color: #b3b3b3;
      }
    }
  }

  .pagination {
    margin: 12px 0;
  }

  .meta {
    font-size: .9em;
    color: #b3b3b3;
  }
  .reply-content {
    margin: 6px 0;
  }
}

/* Topic Show Page */

@import "topic_body";

.topics-show-page {

  .card {
    padding: 15px;

    h1 {
      margin: 0.4em auto 0.6em;
      font-size: 28px;
      line-height: 38px;
    }
  }
}
/* Reply  */
.topic-reply {

  margin-top: 30px;

  hr {
    margin-top: 16px;
    margin-bottom: 16px;
  }

  a {
    color: inherit;
  }

  .meta {
    font-size: .9em;
    color: #b3b3b3;
  }
}

.reply-box {

  margin-bottom: 20px;

}

/* Notifications badge */

.notifications-badge {
  margin-top: -1;
}

/* Sidebar */

.sidebar {
  .card-body {
    padding: 12px;
  }

  hr {
    margin-top: 8px;
    margin-bottom: 10px;
  }

  .active-users {
    margin-top: 20px;
    a {
      color: #797878;
      line-height: 26px;
      font-size: 0.9em;
      margin: 10px 0;

      img{
        border-radius: 12px;
      }
    }
  }
}

.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
}
.pagination > li {
  display: inline;
}
.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  line-height: 1.42857143;
  text-decoration: none;
  color: #337ab7;
  background-color: #fff;
  border: 1px solid #ddd;
  margin-left: -1px;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  z-index: 2;
  color: #007bff;
  background-color: #eeeeee;
  border-color: #ddd;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 3;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  cursor: default;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #777777;
  background-color: #fff;
  border-color: #ddd;
  cursor: not-allowed;
}
.pagination-lg > li > a,
.pagination-lg > li > span {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
}
.pagination-lg > li:first-child > a,
.pagination-lg > li:first-child > span {
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
}
.pagination-lg > li:last-child > a,
.pagination-lg > li:last-child > span {
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
}
.pagination-sm > li > a,
.pagination-sm > li > span {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
}
.pagination-sm > li:first-child > a,
.pagination-sm > li:first-child > span {
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}
.pagination-sm > li:last-child > a,
.pagination-sm > li:last-child > span {
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}